
<!DOCTYPE html>
<head>
    <body>

        <form action="/main/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>

        {% if img1 %}
            <form>{{ point_input }}</form>
            <div><img height = 250 width = 250 src= {{img1}}></div>
            {% if q_wp %}
                <p>Потребный расход: {{q_wp}}</p>
                <p>Потребный напор: {{h_wp}}</p>
                <p>КПД: {{eff_wp}}</p>
                <p>Мощность на валу насоса: {{p2_wp}}</p>
                <p>NPSH: {{npsh_wp}}</p>
            {% endif %}
            <div><img height = 250 width = 250 src= {{img2}}></div>
            <div><img height = 250 width = 250 src= {{img3}}></div>
        {% endif %}
    </body>